.button {
	-moz-box-shadow: 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 3px 0px #91b8b3;
	box-shadow: 0px 1px 3px 0px #91b8b3;
	background-color:#424242;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
}
.button:hover {
	background-color:#6c7c7c;
}
.button:active {
	position:relative;
	top:1px;
}

