body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 110px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
	
.button {
	-moz-box-shadow: 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 3px 0px #91b8b3;
	box-shadow: 0px 1px 3px 0px #91b8b3;
	background-color:#424242;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
}
.button:hover {
	background-color:#6c7c7c;
}
.button:active {
	position:relative;
	top:1px;
}

.mainbutton {
	-moz-box-shadow: 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 3px 0px #91b8b3;
	box-shadow: 0px 1px 3px 0px #91b8b3;
	background-color:#424242;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 43px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
}
.mainbutton:hover {
	background-color:#6c7c7c;
}
.mainbutton:active {
	position:relative;
	top:1px;
}
