.button {
	-moz-box-shadow:inset 0px 0px 2px 0px #424242;
	-webkit-box-shadow:inset 0px 0px 2px 0px #424242;
	box-shadow:inset 0px 0px 2px 0px #424242;
	background-color:#424242;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.button:hover {
	background-color:#424242;
}
.button:active {
	position:relative;
	top:1px;
}

.audio { margin-top:-20px;
}

